/* Pure Html styling */
body {
  font-family: "Montserrat", sans-serif;
  font-family: "Ubuntu Mono", monospace;
}
.container-fluid {
  padding: 3% 15%;
}
h1 {
  font-family: "Montserrat-Black", sans-serif;
  font-size: 3rem;
  line-height: 1.5;
}
h2 {
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}
h3 {
  font-family: "Montserrat-Bold", sans-serif;
}
#title {
  background-color: #ef3f61;
  font-family: "Montserrat", sans-serif;
  font-family: "Ubuntu Mono", monospace;
  color: white;
}
p {
  color: #8f8f8f;
}
/* Navigation bar */
.navbar {
  padding-bottom: 3.5rem;
  padding: 0px 0px 4.5rem;
}
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item {
  padding: 0px 20px;
}
.nav-link {
  font-size: 1.4rem;
  font-family: "Montserrat-light";
}
/*Download Buttons*/
.dbutton {
  margin: 5% 3% 5% 0;
  padding: 10px 40px;
}
/* title image */
.title-image {
  transform: rotate(20deg);
  width: 50%;
}

/* features */

#features {
  padding: 7% 15%;
  background-color: #fff;
}
.features-box {
  text-align: center;
  padding: 5%;
}
/* icons */
.icons {
  color: #ef8172;
  margin-bottom: 1.5rem;
}
.icons:hover {
  color: #ef3f61;
}

/* testemonial section */
#testimonials {
  text-align: center;
  background-color: #ed3f61;
  color: #fff;
}
.dog {
  width: 15%;
  border-radius: 100%;
  margin: 20px;
}
#press {
  background-color: #ef3f61;
  text-align: center;
  padding-bottom: 3%;
}
.pr {
  width: 15%;
  margin: 20px 20px;
}
.carousel-inner {
  padding: 8% 16%;
}
/* pricing */
#pricing {
  padding: 10px;
  text-align: center;
}
.p-col {
  padding: 3% 2%;
}
.card {
  width: 100%;
  height: 400px;
}
#cta {
  text-align: center;
  margin: 50px 0px;
  padding: 8% 16%;
  font-family: "Montserrat-Black", sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font: bold;
  font-weight: bolder;
  background-color: #ef3f61;
  color: #fff;
}
.cta-head {
  font-size: 80%;
}
#footer {
  padding: 8% 16%;
  text-align: center;
}
.ic {
  padding: 1%;
  color: green;
}
.ic:hover {
  color: red;
}
.ic:visited {
  color: red;
}
/* @media (max-width: 1028px) {
  .title-image {
    position: static;
    transform: rotate(0);
  }
  #title {
    text-align: center;
  }
} */
@media (max-width: 990px) {
  .title-image {
    position: static;
    transform: rotate(0);
  }
  #title {
    text-align: center;
  }
}
